.App {
  /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#container div{
  display:inline-block;
  width:130px;
}

table {
  border-spacing: 0px;
  background: #fff;
  box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
  width: 85%;
}

th {
  border:10px solid #f4f6f8;
  padding: 4px;
}

/* tr{
  text-align: left;
  height: 40px;
}  */

.form-row{
  margin: 8px 0;
}